<form action="<%= users_url %>" method="post" accept-charset="utf-8">

	<label for="username">User Name!</label>
	<input type="text" name="user[user_name]" id="username"/>

	<label for="Password">Password</label>
	<input type="password" name="user[password]" id="password"/>

	<p><input type="submit"></p>
</form>